

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth; 
    
}




body {
    min-width: 320px;
    font-size: 18px;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-image: url("../assets/bg.jpg");
    height: 670px;
    background-size: cover;
    margin-bottom: 40px;
    background-attachment: fixed;
}

.container {
    width: 1140px;
    margin: 0 auto;

}

.section__about .container {
    height: 700px;
}

.burger_meny {
    display: none;
}

.navigation {
    height: 100px;
    width: 100%;
    font-size: 36px;
    padding-top: 20px;

}

.list_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.list_item:hover {
    color: rgb(112, 1, 1);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}


.person {
    max-width: 1300px;
    right: 0;
    height: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.person__p {
    max-width: 320px;
}

.avatar__person {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20%;
}

.avatar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 1;
}

.avatar__container::after {
    display: block;
    content: "";
    position: absolute;
    width: 35vw;
    height: 280px;
    left: -10%;
    background-color: white;
    z-index: -1;
}

.link__avatar {
    position: absolute;
    display: block;
    background-image: url('../assets/VectorarrowLink.svg');
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    right: -10vw;
}

.container2 {
    width: 1540px;
    margin: 0 auto;
}

.title {
    font-size: 85px;
    text-align: center;
    margin: 40px;
}





.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}





.projects__sting1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 35px;
      
}

.project_img1 {
    display: block;
    background-image: url('../assets/project1.png');
    max-width: 490px;
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
}

.project_img1:hover {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img1::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img1:hover:after {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img1::before {
    content: "Application for Instax";
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 36px;
    top: 45%;
    left: 15%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img1:hover:before {
    opacity: 1;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    
}

.project_img2 {
    background-image: url('../assets/project2.png');
    width: 310px;
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
}

.project_img2:hover {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img2::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img2:hover:after {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img2::before {
    content: "Logo sv";
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 36px;
    top: 43%;
    left: 25%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img2:hover:before {
    opacity: 1;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    
}

.project_img3 {
    background-image: url('../assets/project3.png');
    max-width: 660px;
    height: 370px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
}

.project_img3:hover {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img3::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img3:hover:after {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img3::before {
    content: " Simon  Collmins";
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 36px;
    top: 39%;
    left: 30%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img3:hover:before {
    opacity: 1;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    
}

.project_img4 {
    background-image: url('../assets/project4.png');
    width: 870px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
}

.project_img4:hover {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img4::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img4:hover:after {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img4::before {
    content: "Miracle stones";
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 36px;
    top: 40%;
    left: 38%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img4:hover:before {
    opacity: 1;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    
}

.project_img5 {
    background-image: url('../assets/project5.png');
    width: 630px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    -ms-flex-preferred-size: 41%;
        flex-basis: 41%;
}

.project_img5:hover {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img5::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img5:hover:after {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img5::before {
    content: "Money Gang";
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 36px;
    top: 40%;
    left: 34%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img5:hover:before {
    opacity: 1;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    
}

.project_img6 {
    background-image: url('../assets/project6.png');
    width: 540px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
}

.project_img6:hover {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img6::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img6:hover:after {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img6::before {
    content: "Sing up for SoundCloud";
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 36px;
    top: 40%;
    left: 13%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img6:hover:before {
    opacity: 1;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    
}

.project_img7 {
    background-image: url('../assets/project7.png');
    width: 380px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
}

.project_img7:hover {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img7::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img7:hover:after {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.link_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.project_img7::before {
    content: "Lamoda";
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 36px;
    top: 40%;
    left: 33%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img7:hover:before {
    opacity: 1;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    
}

.project_img8 {
    background-image: url('../assets/project8.png');
    width: 540px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;

}

.project_img8:hover {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img8::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img8:hover:after {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img8::before {
    content: "Credit Card Checkout";
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 36px;
    top: 40%;
    left: 20%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.project_img8:hover:before {
    opacity: 1;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    
}

.person_item {
    font-size: 19px;
}



.projects__sting2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 35px;
}

.projects__sting3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
}


.parallax {
    height: 530px;
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}


.about__box {
    width: 800px;
    height: 480px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
}

.about__p {
    font-family: "Futura (Light)";
    font-size: 20px;
}

.parallax2 {
    height: 600px;
}

.section_contact {
    height: 750px;
}

.section_contact .container {
    margin-top: 82px;
}

.spanInput {
    display: none;
}

.spanInput_active {
    display: inline;
}

.formData {
    margin: 0 auto;
    width: 720px;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px;
    font-family: "Futura (Light)"
}

.formData input, textarea {
    border: 1px solid;
}

.formData input {
    height: 40px;
}

.formData label, input {
    margin-bottom: 5px;
}

.required, .required1 {
    display: inline;
    color: rgba(159,39,71);
  }



.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
}

.submit[type="submit"] {
    width: 160px;
    height: 40px;
    background: #000;
    color: white;
    font-size: 18px;
    border: 2px solid black;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.submit:hover {
    background: rgba(0, 0, 0, 0.13);
    color: black;

}

.list__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7px;
}

.item__social {
    padding-right: 15px;
}

.gmail_ico {
    background-image: url("../assets/svg/iconka11.svg");
    background-size: cover;
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.linkedln_ico {
    background-image: url("../assets/svg/iconka22.svg");
    background-size: cover;
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.behance_ico {
    background-image: url("../assets/svg/iconka33.svg");
    background-size: cover;
    width: 28px;
    height: 28px;
}

.section_contact .parallax {
    height: 75px;
}

.footer .container {
    width: 600px;
}

.foot {
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
}

.projects {
    margin-top: 40px;
}

@media (max-width: 1600px) {
    .container2 {
        width: 1140px;
    }

    .about__p {
        font-size: 18px;
    }

    .projects__sting1 {
        height: 250px;
    }

    .project_img1 {
        width: 100%;
        height: 100%;
    }

    .project_img2 {
        width: 100%;
        height: 100%;
    }

    .project_img3 {
        width: 100%;
        height: 100%;
    }

    .projects__sting2 {
        height: 250px;
    }

    .project_img4 {
        width: 100%;
        height: 100%;
    }

    .project_img5 {
        width: 100%;
        height: 100%;
    }

    .project_img6 {
        width: 100%;
        height: 100%;
    }

    .projects__sting3 {
        height: 250px;
    }

    .project_img7 {
        width: 100%;
        height: 100%;
    }

    .project_img8 {
        width: 100%;
        height: 100%;
    }

    .project_img1::after {
        width: 100%;
        height: 100%;
    }

    .project_img1::before {
        font-size: 32px;
        top: 35%;
        left: 5%;
    }

    .project_img2::after {
        width: 100%;
        height: 100%;
    }

    .project_img2::before {
        top: 35%;
        left: 27%;
    }

    .project_img3::after {
        height: 100%;
    }

    .project_img3::before {
        top: 43%;
        left: 20%;
    }

    .project_img4::before {
        top: 41%;
        left: 28%;
    }

    .project_img5::after {
        width: 100%;
        height: 100%;
    }

    .project_img5::before {
        top: 40%;
        left: 27%;
    }

    .project_img6::after {
        height: 100%;
    }

    .project_img6::before {
        top: 40%;
        left: 3%;
    }

    .project_img7::after {
        width: 100%;
        height: 100%;
    }

    .project_img7::before {
        top: 40%;
        left: 25%;
    }

    .project_img8::after {
        height: 100%;
    }

    .project_img8::before {
        top: 40%;
        left: 5%;
    }

    .projects {
        margin-top: 0px;
    }

    .section__about .container {
        height: 600px;
    }

    .list_nav {
        width: 940px;
        margin: 0 auto;
    }

    .container_person {
        width: 940px;
    }

    .avatar__container::after {
        width: 50vw;
        height: 420px;
        left: -30%;
    }

    header {
        overflow-x: hidden;
    }

    .img__avatar {
        width: 320px;
    }

    /* .avatar__container::after {
        width: 35vw;
        height: 280px;
        left: -10%;
    } */
}

@media (max-width: 1300px) {
    .link__avatar {
        right: -9vw;
    }
}



@media (max-width: 1200px) {

    .list_nav {
        width: 700px;
    }

    .container {
        width: 768px;
    }

    .container2 {
        width: 900px;
    }

    .container_nav {
        width: 700px;
    }

    .projects__sting1, .projects__sting2, .projects__sting3 {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: 0;
    }

    
   .projects__sting1,.projects__sting2,.projects__sting3 {
    height: 220px;
    margin-bottom: 40px;
   }

    .section__projects {
        margin-bottom: 100px;
    }

    .project_img1::before,.project_img2::before, .project_img3::before,.project_img4::before,.project_img5::before, .project_img6::before,.project_img7::before, .project_img8::before {
        font-size: 24px;
    }

    .container_person {
        width: 700px;
    }


}

@media (max-width: 950px) {

    .link::before {
        display: none;
    }

    .link:after {
        display: none;
    }

    

    .projects__sting1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 1200px;
        margin: 0;
    }

    .project_img1 {
        background: url("../assets/mobile/project1.jpg");
        -ms-flex-preferred-size: 31%;
            flex-basis: 31%;
    }

    .project_img2 {
        background: url("../assets/mobile/project2.jpg");
        -ms-flex-preferred-size: 46.5%;
            flex-basis: 46.5%;
    }

    .project_img3 {
        background: url("../assets/mobile/project3.jpg");
        -ms-flex-preferred-size: 22%;
            flex-basis: 22%;
    }

    .projects__sting2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 500px;
        
    }

    .project_img4 {
        background: url("../assets/mobile/project4.jpg");
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
    }

    .project_img5 {
        background: url("../assets/mobile/project5.jpg");
        -ms-flex-preferred-size: 56%;
            flex-basis: 56%;
    }

    .projects__sting3, .projects__sting2, .projects__sting1 {
        margin: 0;
    }

    .projects__sting3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 1400px;
        margin: 0;
    }

    .project_img6 {
        background: url("../assets/mobile/project6.jpg");
        -ms-flex-preferred-size: 26.5%;
            flex-basis: 26.5%;
    }

    .project_img7 {
        background: url("../assets/mobile/project7.jpg");
        -ms-flex-preferred-size: 39%;
            flex-basis: 39%;
    }

    .project_img8 {
        background: url("../assets/mobile/project8.jpg");
        -ms-flex-preferred-size: 26.5%;
            flex-basis: 26.5%;
    }


    .container {
        width: 500px;
    }

    .container2 {
        width: 500px;
    }

    .avatar__person {
        margin-left: 50px;
    }

    .person__p {
        max-width: 270px;
    }

    .container_nav {
        width: 500px;
    } 

    .list_nav {
        width: 500px;
    }

    .container_person {
        width: 500px;
    }

    .avatar__container::after {
        width: 45vw;
        height: 190px;
    }

    .about__box {
        width: 500px;
    }

    .section__about {
        min-height: 800px;
    }

    .formData {
        width: 100%;
    }

    .foot {
        display: inline-block;
        font-size: 18px;
        width: 100%;
        text-align: center;
        padding: 30px 0 0 0;
    }

    .submit[type="submit"] {
        margin: 0 0 0 20px;
    }

    .link__avatar {
        right: -12vw;
    }

    .person_item {
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .header {
        background-attachment: scroll;
        background-image: url("../assets/bgSection/bg1.png");
    }



    .parallax {
        background-attachment: scroll;
        background-image: url("../assets/bgSection/bg2.png");
    }

    .parallax2 {
        background-attachment: scroll;
        background-image: url("../assets/bgSection/bg3.png");
    }


    .navigation {
        display: none;
    }

    .burger_meny {
        width: 30px;
        height: 30px;
        background-image: url("../assets/svg/burger2.sv");
        background-size: cover;
        position: absolute;
        right: 60px;
        top: 60px;
        z-index: 2;
        opacity: 1;
        -webkit-animation: BackMeny 2s;
                animation: BackMeny 2s;
        
    }

    .stick1_,  .stick2_, .stick3_{
        width: 30px;
        height: 3px;
        background-color: black;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
        
    }

    .stick2_ {
        margin-top: 10px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    .stick3_ {
        margin-top: 10px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    .stick2_none {
        opacity: 0;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .stick1_rotate {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        position: absolute;
        margin-top: 22px;
    }

    .stick3_rotate {
        margin-bottom: 5px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    .burger_meny_active {
        display: block;
        top: 0;
        right: -10%;
        width: 0%;
        height: 100%;
        background-image: none;
        background-color: white;
        list-style: none;
        -webkit-animation: flyMeny 2s linear;
                animation: flyMeny 2s linear; 
        -webkit-animation-fill-mode: forwards; 
                animation-fill-mode: forwards;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        
    }



    .sticks {
        position: absolute;
        width: 30px;
        top: 60px;
        right: 60px;
        z-index: 3;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    @-webkit-keyframes flyMeny {
        0% {
            width: 0%;
            opacity: 1;
        }

        50% {
            width: 30%;
            right: -5%;
            
        }

        100% {
            width: 60%;
            right: 0;
            opacity: 1;
        }
    }

    @keyframes flyMeny {
        0% {
            width: 0%;
            opacity: 1;
        }

        50% {
            width: 30%;
            right: -5%;
            
        }

        100% {
            width: 60%;
            right: 0;
            opacity: 1;
        }
    }

    @-webkit-keyframes BackMeny {
        0% {
            width: 60%;
        }

        50% {
            width: 30%;
            right: -5%;
            
        }

        100% {
            width: 0%;
            right: -10%;
        }
    }

    @keyframes BackMeny {
        0% {
            width: 60%;
        }

        50% {
            width: 30%;
            right: -5%;
            
        }

        100% {
            width: 0%;
            right: -10%;
        }
    }



    .burgerNoClick {
        display: none;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        margin-top: 70%;
    }

    .burgerClick {

        display: block;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }


    .stick1 {
        position: absolute;
        width: 75px;
        height: 5px;
        background-color: #000;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .stick2 {
        position: absolute;
        width: 75px;
        height: 5px;
        background-color: #000;
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);
    }

    .burger_text {
        margin: 0 0 0 20px;
    }

    .list_item_burger {
        font-size: 36px;
        padding-bottom: 30px;
    }

    .person {
        position: static;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 auto;
        padding-top: 100px;


    }

    .person__p {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .avatar__person {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 20px;
        
    }

    .img__avatar {
        width: 150px;
    }

    .avatar__container::after {
        display: none;
    }

    .link__avatar {
        position: static;
        margin-left: 100px;
    }

    .avatar__person {
        width: 70%;
        height: 100%;
    }

}

@media (max-width: 520px) {
    
    

    .title {
        font-size: 65px;
    }

    .link_nav {
        font-size: 24px;
    }

    .container {
        width: 90%;
    }

    .section__about .container {
        height: 1200px;
    }

    .section__about {
        height: 500px;
    }

    .foot {
        position: relative;
        font-size: 12px;
    }

    .person {
        width: 100%;
        height: 200px;
    }

    .avatar__person img{
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain;
        position: absolute;
        left: -35px;
        width: 65%;
        -o-object-fit: cover;
           object-fit: cover;
        
    }

    .link__avatar {
        position: absolute;
        right: 10%;
        width: 90px;
        height: 30px;
        background-size: cover;
    }

    .avatar__person {
        height: 300px;
        width: 100%;
        margin: 65px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .avatar__container {
        height: 220px;
        position: relative;
    }

    .person__p {
        margin-top: 20px;
        width: 320px;
        text-align: center;
        font-family: "Futura (Light)";
    }

    .header {
        height: 800px;
    }

    

    .person_item {
        font-size: 20px;
        font-weight: 700;
    }

    .container2 {
        width: 90%;
    }

    

    .about__box {
        width: 100%;
        margin-top: 40px;
        font-size: 25px;
    }

    .about__box h2 {
        margin-bottom: 40px;
    }

    .social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .list__social {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .item__social {
        margin-bottom: 20px;
    }

    .footer .container {
        width: 300px;
        font-size: 17px;
    }

    body {
        min-width: 300px;
    }

    .parallax2, .parallax {
        height: 300px;
    }

    .img__avatar {
        width: 100px;
    }

    .list_item:hover {
        color: #000;
    }

    .link {
        display: block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        
    }

    .projects {
        display: block;
        max-height: 2450px;
    }

    .projects__sting1 {
        height: 1000px;
        
    }


    .projects__sting2 {
        height: 434px;
    }

    .project_img4 {
        -ms-flex-preferred-size: 48%;
            flex-basis: 48%;
    }

    .project_img5 {
        -ms-flex-preferred-size: 52%;
            flex-basis: 52%;
    }


    .projects__sting3 {
        height: 1100px;
    }

    .section_contact .container {
        width: 100%;
    }

    .submit[type="submit"] {
        margin: 0 auto;
        width: 160px;
    }

    .list__social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative;
    }

    .link_social {
        position: absolute;
        top: 180px;
        left: 26%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .gmail_ico {
        width: 40px;
        height: 40px;
        background-image: url("../assets/svg/iconka3.png");
        margin-right: 30px;
    }

    .linkedln_ico {
        width: 30px;
        height: 30px;
        background-image: url("../assets/svg/iconka1.png");
        margin-right: 30px;
    }

    .behance_ico {
        width: 35px;
        height: 35px;
        background-image: url("../assets/svg/iconka2.png");
        margin-top: 8px;
    }

    .avatar__person img{
        -o-object-fit: contain;
           object-fit: contain;
        width: 60%;
        -o-object-fit: cover;
           object-fit: cover;
        padding-left: 20px;
        
    }

    .link__avatar {
        position: absolute;
        right: 10%;
        width: 90px;
        height: 30px;
        background-size: cover;
    }

    .avatar__container {
        position: static;
    }

    .container_person {
        width: 100%;
    }

}

@media (max-width: 450px) {
    .section__about {
        min-height: 900px;
    }
    
    .link_social {
        left: 20%;
    }

    .person_item {
        display: block;
        font-size: 18px;
        width: 280px;
        margin: 10px auto;
    }

}

@media (max-width: 400px) {

    .section__about {
        min-height: 950px;
    }
    
    .projects__sting1 {
        height: 900px;
        
    }


    .projects__sting2 {
        height: 380px;
    }


    .projects__sting3 {
        height: 1000px;
    }

    .link__avatar {
        width: 60px;
        height: 20px;
        right: 15%;
    }

    .avatar__person img {
        width: 65%;
        padding-left: 35px;
    }


    .person__p {
        max-width: 320px;
        margin: -28px auto;
        
    }

    .person_item {
        font-size: 18px;
        display: inline-block;
        width: 100%;
    }

    .header {
        height: 700px;
    }
}

.element-animation {
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.element-show {
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.element-animation1 {
    opacity: 0;
    -webkit-transform: translateX(80px);
        -ms-transform: translateX(80px);
            transform: translateX(80px);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.img__avatar {
    transition: 4s;
    animation: visible 3s;
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.element-show1 {
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

input:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

textarea:hover {
    background-color: rgba(0, 0, 0, 0.05);
}



